<!DOCTYPE html>
<html>
<head>
<!-- Customized. Default is in ~/.vim/bundle/vimwiki/autoload/vimwiki/style.css -->
<link rel="Stylesheet" type="text/css" href="%root_path%static/css/wiki.css">
<script type="text/javascript" src="%root_path%static/js/wiki.js"></script>
<!-- google-code-prettify -->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<title>%title%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%encoding%">
</head>
<body>
%content%
</body>
</html>
